@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #1d1e31;
}

h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 40px;
}

p {
    color: white;
    font-size: 20px;
}

/* Afficher ma navbar et la bloquer en haut */
.sectionNavbar{
    margin-top: 3%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

/* Chaque partie (Profil...) */
.section{
    height: 100vh;
}

/* L'interieur des sections */
.container{
    position: absolute;
    padding: 2% 4% 2%; 
    margin: 10% 2%;
    width: 95%;
    z-index: -1;
}

#myPic{
    border-radius: 100%;
    border: solid 4px #fec675;
    float: left;
}

.paragraphe{
    position: relative;
    top: 100px;
    left: 40px;
}

.sousParagraphe{
    position: relative;
    top: 100px;
    left: 80px;
    width: 1000px;
}